<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323975104495-18o64bkohej735ff83lkcjf0ps0j4pmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323975104495-18o64bkohej735ff83lkcjf0ps0j4pmv</string>
	<key>API_KEY</key>
	<string>AIzaSyDEA7wAc-l6xhFMk6Rx1IXFhTDLyCz5GFA</string>
	<key>GCM_SENDER_ID</key>
	<string>323975104495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saYoloNg</string>
	<key>PROJECT_ID</key>
	<string>usa-parking-app</string>
	<key>STORAGE_BUCKET</key>
	<string>usa-parking-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323975104495:ios:8d3ce5f2e56428fe52581a</string>
</dict>
</plist>